In [1]:
lst = [1, 7, 3, 10, 5]

In [12]:
lst[1]

7

In [6]:
lst[1:]

[7, 3, 10, 5]

In [15]:
lst[2:0:-1]

[3, 7]

In [4]:
zip(lst, lst[1:])

In [5]:
for a, b in zip(lst, lst[1:]):
    print(a, b)

1 7
7 3
3 10
10 5

In [17]:
print.__doc__

'Prints the values to a stream, or to sys.stdout by default.\n\n  sep\n    string inserted between values, default a space.\n  end\n    string appended after the last value, default a newline.\n  file\n    a file-like object (stream); defaults to the current sys.stdout.\n  flush\n    whether to forcibly flush the stream.'

In [26]:
list1 = [1, 3, 5]
list2 = [2, 4, 6]

In [28]:
sorted(list1 + list2)

[1, 2, 3, 4, 5, 6]

In [29]:
list1 = [1, 3, 5], list2 = [2, 4, 6]

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1312923038.py, line 1)

In [34]:
x = "hello world hello"
x.split()

['hello', 'world', 'hello']

In [37]:
tpl = (1, 2, 3, 2, 5)
tpl[::1] == tpl[::-1]

False

In [ ]:
import sqlite3


conn = sqlite3.connect('test.db')
cursor = conn.cursor()
cursor.execute(
        '''
        CREATE TABLE IF NOT EXISTS employees(
            id INTEGET PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT NOT NULL
        )
        '''
)
cursor.execute(
     ''' 
    INSERT INTO employees (id, name, age, department)
    VALUES (?, ?, ?, ?)
    ''', (1, 'Pranoy', 26, 'Data Science')
)

cursor.execute(
    '''SELECT * FROM employees'''
)

OperationalError: table employees has no column named department