# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

---------------------------------------------------------------------

In [1]:
import sqlite3

#### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [2]:
#Task 1
def create_connection(conn_name):
    conn = sqlite3.connect(conn_name)
    print("Database has been created and connected successfully")
    conn.close()
    print("Database connection close")

create_connection('test.db')

Database has been created and connected successfully
Database connection close

In [3]:
#Task 2
def create_table():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute(
        '''
        CREATE TABLE IF NOT EXISTS employees(
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT
        )
        '''
    )
    conn.commit()
    conn.close()
    print("Table 'employees' created successfully.")

create_table()

Table 'employees' created successfully.

#### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

In [4]:
#Task 1
def insert_employee(id, name, age, department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute(
        ''' 
        INSERT INTO employees (id, name, age, department)
        VALUES (?, ?, ?, ?)
        ''', (id, name, age, department)
    )
    conn.commit()
    conn.close()

In [5]:
#Task 2
create_table()
insert_employee(1, 'Pranoy', 26, 'Data Science')
insert_employee(2, 'Bob', 25, 'Engineering')
insert_employee(3, 'Charlie', 28, 'Sales')
insert_employee(4, 'David', 35, 'Marketing')
insert_employee(5, 'Eve', 22, 'HR')

Table 'employees' created successfully.

#### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

In [11]:
#Task 1
def fetch_data():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute(
        '''
        SELECT * FROM employees
        '''
    )
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    conn.close()

fetch_data()

(1, 'Pranoy Chakraborty', 27, 'Data Science')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

In [14]:
#Task 2
def fetch_data_by_department(department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute(
        '''
        SELECT * FROM employees
        WHERE department = ?
        ''', (department,) #passed as a tuple
    )
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    conn.close()

fetch_data_by_department('Data Science')

(1, 'Pranoy Chakraborty', 27, 'Data Science')

#### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

In [ ]:
#Task 1
def update_employee(id, name, age, department):
    conn = sqlite3.connect('test.db', timeout=10)  # Added timeout to handle locked database
    cursor = conn.cursor()
    cursor.execute(
        '''
        UPDATE employees
        SET name = ?, age = ?, department = ?
        WHERE id = ?
        ''', (name, age, department, id)
    )
    conn.commit()
    conn.close()

update_employee(1, 'Pranoy Chakraborty', 26, 'Data Science')
fetch_data()

(1, 'Pranoy Chakraborty', 26, 'Data Science')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

In [17]:
#Task 2
update_employee(2, 'Bob Smith', 26, 'Engineering')
update_employee(3, 'Charlie Brown', 29, 'Design')
fetch_data()

(1, 'Pranoy Chakraborty', 26, 'Data Science')
(2, 'Bob Smith', 26, 'Engineering')
(3, 'Charlie Brown', 29, 'Design')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')