## SQL And SQLite
SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [1]:
import sqlite3

In [3]:
#connect to sqlite3 database
connection = sqlite3.connect('example.db')
connection

In [4]:
#create cursor object
cursor = connection.cursor()
cursor

In [5]:
#Create a table
cursor.execute(
    ''' 
    CREATE TABLE IF NOT EXISTS Employees(
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER,
        department TEXT
    )
    '''
)
connection.commit()

In [6]:
#Insert data in sqlite table
cursor.execute(
    ''' 
    INSERT INTO Employees(name, age, department)
    VALUES ('Pranoy', 25, 'Data Science'), ('Charlie', 25, 'Data Analytics'), ('Wanda', 32, 'Finance'), ('Bob', 35, 'Project Management')
    '''
)

connection.commit()

In [9]:
cursor.execute(
    ''' 
    SELECT * FROM Employees
    '''
)
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Pranoy', 25, 'Data Science')
(2, 'Charlie', 25, 'Data Analytics')
(3, 'Wanda', 32, 'Finance')
(4, 'Bob', 35, 'Project Management')