# Tuples
-------------------------------------------
- Creating Tuples
- Accessing Tuple Elements
- Tuple Operations
- Immutable Nature of Tuples
- Tuple Methods
- Packing and Unpacking Tuples
- Nested Tuples
- Practical Examples and Common Errors


## What is Tuple?
Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [4]:
## creating a tuple
empty_tuple = ()
print(empty_tuple, type(empty_tuple))

() <class 'tuple'>

In [6]:
lst = list()
print(lst, type(lst))

tpl = tuple()
print(tpl, type(tpl))

[] <class 'list'>
() <class 'tuple'>

In [10]:
# type conversion
numbers = tuple([1,2,3,4,5,6,7,8])
print(numbers, type(numbers))
      
num_lst = list((1,2,3,4,5,6,7,8))
print(num_lst, type(num_lst))

(1, 2, 3, 4, 5, 6, 7, 8) <class 'tuple'>
[1, 2, 3, 4, 5, 6, 7, 8] <class 'list'>

In [11]:
mixed_tpl = (1, "Hello World", 3.14, True)
mixed_tpl

(1, 'Hello World', 3.14, True)

In [17]:
# accessing tuple elements
print(numbers)
print(numbers[0])
print(numbers[2])
print(numbers[-1])

(1, 2, 3, 4, 5, 6, 7, 8)
1
3
8

In [18]:
numbers[0:4]

(1, 2, 3, 4)

In [19]:
numbers[::-1]

(8, 7, 6, 5, 4, 3, 2, 1)

In [22]:
# tuple operation
concatination_tpl = numbers + mixed_tpl
print(concatination_tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 1, 'Hello World', 3.14, True)

In [23]:
mixed_tpl * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [27]:
numbers * 3

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)

In [29]:
# Mutable nature of list
lst = [1,2,3,4,5]
print(lst)

lst[1] = "pranoy"
print(lst)

[1, 2, 3, 4, 5]
[1, 'pranoy', 3, 4, 5]

In [ ]:
# immutable nature of tuple
tpl = (1,2,3,4,5)
print(tpl)

tpl[1] = "pranoy"
print(tpl)

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [39]:
# tuple methods
print(numbers)
print(numbers.count(3))
print(numbers.index(3)) #at which index the number we enter is present, returns the 1st index

(1, 2, 3, 4, 5, 6, 7, 8)
1
2

In [40]:
#packing and unpacking tuple
#packing
packed_tpl = 1,"hello", 3.15
print(packed_tpl)

(1, 'hello', 3.15)

In [42]:
#unpacking a tuple
a,b,c = packed_tpl
print(a)
print(b)
print(c)

1
hello
3.15

In [43]:
# unpacking with *
numbers = (1, 23, 4, 5, 6, 78, 9, 0, 12)
print(numbers)

(1, 23, 4, 5, 6, 78, 9, 0, 12)

In [50]:
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[23, 4, 5, 6, 78, 9, 0]
12

In [62]:
# Nested list
lst = [[1,2,3,4],[5,6,7,8],[5,"Hello World", 3.1729, True]]
print(lst)
print(lst[2][1])
print(lst[1][0:3])

[[1, 2, 3, 4], [5, 6, 7, 8], [5, 'Hello World', 3.1729, True]]
Hello World
[5, 6, 7]

In [64]:
#nested list with tuple
lst = [[1,2,3,4],[5,6,7,8],(5,"Hello World", 3.1729, True)]
print(lst[2])
print(lst[2][1])
print(lst[1][0:3])

(5, 'Hello World', 3.1729, True)
Hello World
[5, 6, 7]

In [67]:
#Nested tuple
tpl = ((1,2,3,4),('a','b','c'),(5,"Hello World", 3.1729, True), (True, False))
print(tpl)

print(tpl[1][2])

((1, 2, 3, 4), ('a', 'b', 'c'), (5, 'Hello World', 3.1729, True), (True, False))
c

In [71]:
##iterating over nested tuple
for subtpl in tpl:
    for item in subtpl:
        print(item, end=" ")

1 2 3 4 a b c 5 Hello World 3.1729 True True False

### Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.