# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
''' 
Assignment 1: Creating and Accessing Tuples
Create a tuple with the first 10 positive integers. Print the tuple.
'''
tpl = tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [3]:
''' 
Assignment 2: Accessing Tuple Elements
Print the first, middle, and last elements of the tuple created in Assignment 1.
'''
print("First element: ", tpl[0])
print("First element: ", tpl[len(tpl) // 2])
print("First element: ", tpl[len(tpl) - 1])

First element:  1
First element:  6
First element:  10

In [5]:
'''
Assignment 3: Tuple Slicing
Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
'''
print("First 3 elements: ", tpl[:3])
print("Last 3 elements: ", tpl[-3:])
print("Elements from 2 to 5 ", tpl[2:5])

First 3 elements:  (1, 2, 3)
Last 3 elements:  (8, 9, 10)
Elements from 2 to 5  (3, 4, 5)

In [10]:
'''
Assignment 4: Nested Tuples
Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
'''
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for row in matrix:
    print(row)
print(matrix[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

In [11]:
'''
Assignment 5: Tuple Concatenation
Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
'''
tpl1 = (1, 2, 3)
tpl2 = (4, 5, 6)

print(tpl1 + tpl2)

(1, 2, 3, 4, 5, 6)

In [2]:
'''
Assignment 6: Tuple Methods
Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
'''
tpl = (3,4,5,5,5,6,7,7,9)
print(f"Occurance of 5: {tpl.count(5)}")
print(f"1st occrance of 5: {tpl.index(5)}")

Occurance of 5: 3
1st occrance of 5: 2

In [3]:
''' 
Assignment 7: Unpacking Tuples
Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
'''
tpl = (1, 2, 3, 4, 5)
a, b, c, d, e = tpl
print(a, b, c, d, e)

1 2 3 4 5

In [4]:
''' 
Assignment 8: Tuple Conversion
Convert a list of the first 5 positive integers to a tuple. Print the tuple.
'''
num_list = [1,2,3,4,5]
num_tpl = tuple(num_list)
print(num_tpl)

(1, 2, 3, 4, 5)

In [6]:
''' 
Assignment 9: Tuple of Tuples
Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
'''
nested_tpl = (
    (2, 3, 4),
    (7, 3.14, False),
    ("hello", 67, -8)
)
print(nested_tpl)

((2, 3, 4), (7, 3.14, False), ('hello', 67, -8))

In [8]:
''' 
Assignment 10: Tuple and List
Create a tuple with the first 5 positive integers. 
Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
'''
tpl = tuple(range(1,6))
print(f"Initial tuple: {tpl}")

lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(f"Tuple after conversion and append: {tpl}")

Initial tuple: (1, 2, 3, 4, 5)
Tuple after conversion and append: (1, 2, 3, 4, 5, 6)

In [9]:
''' 
Assignment 11: Tuple and String
Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
'''
string = "Pranoy"
tpl = tuple(string)
print(tpl)

joined_str = ''.join(tpl)
print(joined_str)

('P', 'r', 'a', 'n', 'o', 'y')
Pranoy

In [11]:
''' 
Assignment 12: Tuple and Dictionary
Create a dictionary with tuple keys and integer values. Print the dictionary.
'''
tpl_dict = {
    ("Key1", "Index1"): 1,
    ("Key2", "Index2"): 2,
    ("Key3", "Index3"): 3,
}
print(tpl_dict)

{('Key1', 'Index1'): 1, ('Key2', 'Index2'): 2, ('Key3', 'Index3'): 3}

In [16]:
''' 
Assignment 13: Nested Tuple Iteration
Create a nested tuple and iterate over the elements, printing each element.
'''
nested_tpl = (
    (2, 3, 4),
    (7, 3.14, False),
    ("hello", 67, -8)
)


for subtpl in nested_tpl:
    for item in subtpl:
        print(item)

2
3
4
7
3.14
False
hello
67
-8

In [17]:
''' 
Assignment 14: Tuple and Set
Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.
'''
tpl = (3,4,5,5,5,6,7,7,9)
print(f"Orginal tuple: {tpl}")

set1 = set(tpl)
print(f"After converting to set: {set1}")

Orginal tuple: (3, 4, 5, 5, 5, 6, 7, 7, 9)
After converting to set: {3, 4, 5, 6, 7, 9}

In [18]:
''' 
Assignment 15: Tuple Functions
Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
'''
def _find_min(tpl):
    return min(tpl)

def _find_max(tpl):
    return max(tpl)

def _calculate_sum(tpl):
    return sum(tpl)

numbers = (3,4,5,5,5,6,7,7,9)
print(f"Tuple: {numbers}")
print(f"Minimum: {_find_min(numbers)}")
print(f"Maximum: {_find_max(numbers)}")
print(f"Sum of elements: {_calculate_sum(numbers)}")

Tuple: (3, 4, 5, 5, 5, 6, 7, 7, 9)
Minimum: 3
Maximum: 9
Sum of elements: 51